**/.git
**/.github
**/.idea
**/.claude
openspec
deploy

docker/mysql

**/node_modules
frontend/dist

backend/vendor
backend/var
backend/config/jwt
backend/tests
**/.env.local
**/.env.*.local
.env.prod
**/.php-cs-fixer.cache
**/.phpunit.cache

**/*.log
