HTTP_PORT=8094

APP_SECRET=
JWT_PASSPHRASE=

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=bankruptcy
MYSQL_USER=bankruptcy
MYSQL_PASSWORD=

CORS_ALLOW_ORIGIN=https://bankrot.shefcode.tech
TRUSTED_PROXIES=REMOTE_ADDR
